server:
  port: 8081
  servlet:
    context-path: /v1

spring:
  config:
    name: .env
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

spring.jpa:
  hibernate:
    ddl-auto: create-drop
  show-sql: true

  logging:
    level:
      org.springframework.web: DEBUG